<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>All User</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.table thead tr th{
    padding: 10px 25px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.table tbody tr td{
  padding: 10px 25px;
  font-size:15px;
  text-align: center;
}
.table tbody tr i{
  font-size: 20px;
  cursor: pointer;
}
table {
  counter-reset: section;
}

.count:before {
  counter-increment: section;
  content: counter(section);
}

</style>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">User Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <% data.forEach(function(user){ %>
                <tbody>
                  <tr>
                    <td class="count"></td>
                    <td><%=user._id %></td>
                    <td><%=user.Username %></td>
                    <td><%=user.email %></td>
                    <td><a href="/edit/<%=user._id %>"><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td><a href="/delete/<%=user._id %>"><i class="fa-solid fa-trash"></i></a></td>
                  </tr>
                  </tbody>
            
        <% }); %>
<table>

</body>
</html>